body {
  background-color: black;
  font-family: Helvetica;
  color: seashell;
  opacity: 0.9;
  font-size: 22px;
  width: 1200px;
}
/* pertains to header section*/
header {
  height: 69px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid seashell;
}
.logo img {
  height: 50px;
  margin-left: 10px;
}
.nav a {
  color: seashell;
  padding: 10px;
}
/*next section = mission - background image with a black banner*/
#mission {
  background-image: url("../resources/images/img-mission-background.jpg");
  height: 700px;
}
.banner {
  background-color: black;
  height: 100px;
  display: flex;
  flex-direction: column;
  position: relative;
  top: 300px;
  bottom: 300px;
  justify-content: center;
  align-items: center;
}
.banner h4 {
  margin-top: -10px;
}
/*next section = Tea of the Month. 5 images within a flexbox, with a black background*/
#month {
  width: 1000px;
  text-align: center;
  margin-left: 100px;
  margin-right: 100px;
}
.teatype img {
  height: 200px;
  width: 300px;
  margin: 10px;
}
.images {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding: 10px;
  margin: 10px;
}
.teatype p {
  text-align: center;
  margin-top: 10px;
}
/*section called "Locations" - has 3 addresses in black boxes, over a background image*/
#locations {
  height: 500px;
  background-image: url("../resources/images/img-locations-background.jpg");
}
#locations h2 {
padding-top: 30px;
padding-bottom: 10px;
margin-bottom: 0px;
text-align: center;
}
.portland {
  display: flex;
  flex-direction: row;
  justify-content: center;
}
.address {
  width: 300px;
  height: auto;
  margin: 0px 20px;
  background-color: black;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.address h3, p {
  opacity: 0.9;
}
#contact {
  height: 200px;
  text-align: center;
}
#copyright {
  margin: 20px;
}
